In [9]:
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\artub\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\artub\anaconda3\lib\site-packages (from opendatasets) (4.61.2)
Requirement already satisfied: click in c:\users\artub\anaconda3\lib\site-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in c:\users\artub\anaconda3\lib\site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\artub\anaconda3\lib\site-packages (from tqdm->opendatasets) (0.4.3)
Requirement already satisfied: urllib3 in c:\users\artub\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.25.9)
Requirement already satisfied: requests in c:\users\artub\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.24.0)
Requirement already satisfied: certifi in c:\users\artub\anaconda3\lib\site-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: python-dateutil in c:\users\artub\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.1)
Requirement already satisfied: six>=1.10 in c:\users\artub\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-slugify in c:\users\artub\anaconda3\lib\site-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\artub\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\artub\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\artub\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)

In [22]:
import opendatasets as od
import os

In [16]:
od.download("https://www.kaggle.com/datasets/rmisra/news-headlines-dataset-for-sarcasm-detection")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: arturbiedermann
Your Kaggle Key: ········
Downloading news-headlines-dataset-for-sarcasm-detection.zip to .\news-headlines-dataset-for-sarcasm-detection

100%|█████████████████████████████████████████████████████████████████████████████| 3.30M/3.30M [00:00<00:00, 6.26MB/s]

In [32]:
data_dir = ".\news-headlines-dataset-for-sarcasm-detection"

In [34]:
data_dir

' .\news-headlines-dataset-for-sarcasm-detection'

In [38]:
os.listdir('news-headlines-dataset-for-sarcasm-detection')

['Sarcasm_Headlines_Dataset.json', 'Sarcasm_Headlines_Dataset_v2.json']

In [52]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [47]:
df = pd.read_json(r'C:\Users\artub\NLP_project\news-headlines-dataset-for-sarcasm-detection\Sarcasm_Headlines_Dataset.json', lines=True)

In [48]:
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [49]:
df.isnull().sum()

article_link    0
headline        0
is_sarcastic    0
dtype: int64

In [50]:
df.shape

(26709, 3)

In [57]:
df['website'] = df.article_link.apply(lambda x: x.split('/')[2])
df.pivot_table(index = 'website', columns = 'is_sarcastic', values = 'article_link', aggfunc='count').fillna(0).astype(int)

is_sarcastic                      0     1
website
entertainment.theonion.com        0  1194
local.theonion.com                0  2852
politics.theonion.com             0  1767
sports.theonion.com               0   100
www.huffingtonpost.com        14403     0
www.huffingtonpost.comhttp:     503     0
www.huffingtonpost.comhttps:     79     0
www.theonion.com                  0  5811